
form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 50px;
}
#values {
    width: 300px;
    border: none;
    border-bottom: 2px solid;
    outline: none;
}
select {
    border: none;
    border-bottom: 1px solid;
}
#string {
    width: 500px;
}
.answer {
    display: flex;
    flex-direction: column;
    padding: 40px;
    align-items: center;
}
label {
    display: flex;
    flex-direction: column;
    align-items: center;
}
